footer
	.wrapper
		.scripts-area
		.row
			.col
				a.logo(href="#")
					img.lazyload(data-src="/img/logo-white.svg" width="78" height="58")
				span.dsc Языковая<br>студия
				p.addr г. Канаш <br>ул. Пушкина, 1		
				a.tel(href="#") +7 950 000 00 00
				a.wa(href="#")
					img.lazyload(data-src="/img/wa-white.svg" width="18" height="18")
				a.tg(href="#")
					img.lazyload(data-src="/img/tg-white.svg" width="18" height="15")
			.col
				.head
					img.lazyload(data-src="/img/list_icon-white.svg")
					span Наши курсы
				ul
					li
						a(href="#") Общий курс немецкого языка А1 - С1
					li
						a(href="#") Немецкий язык для студентов ВУЗов А1 - С1
					li
						a(href="#") Немецкий язык для школьников А1 - B1
					li
						a(href="#") Подготовка к экзаменам B1 - C1
					li
						a(href="#") Вводно-фонетический курс А1
			.col
				.head
					img.lazyload(data-src="/img/nav_icon.svg")
					span Навигация
				ul
					li
						a(href="/about.html") О нас
					li
						a(href="#") Блог
					li
						a(href="#") Контакты
				a.dev(href="https://ashaev.by" target="_blank")
					img.lazyload(data-src="/img/ash.png" width="98" height="45")
		.mobile_menu_wrapper
			ul.mobile_menu
				li.expand
					.head
						span Курсы
						img.caret.lazyload(data-src="/img/caret_white.svg" width="10" height="5")
					ul
						li.expand
							.head
								span Английский
								img.caret.lazyload(data-src="/img/caret_white.svg" width="10" height="5")
							ul
								li
									a(href="#") Общий курс английского для взрослых
								li
									a(href="#") Специальный курс английского для взрослых	
						li.expand
							.head
								span Немецкий
								img.caret.lazyload(data-src="/img/caret_white.svg" width="10" height="5")
							ul
								li
									a(href="#") Общий курс немецкого для взрослых
								li
									a(href="#") Разговорный курс немецкого языка для взрослых
				li
					a(href="/about.html") О нас
				li
					a(href="#") Блог
				li
					a(href="#") Контакты
				li.expand
					.head
						span Онлайн-инструменты
						img.caret.lazyload(data-src="/img/caret_white.svg" width="10" height="5")
					ul
						li
							a(href="#" target="_blank") Edvibe
						li
							a(href="#" target="_blank") Miro
						li
							a(href="#" target="_blank") uchi.ru
						li
							a(href="#" target="_blank") ЯКласс
	#popup_wrap(style="display:none")
		#popup
			span.close &times;
			form
				fieldset
					legend Пожалуйста, заполните поля
					input(type="text" disabled value="")
					.group
						input(type="text" id="p_name" required)
						label(for="p_name") Ваше имя
					.group
						input(type="text" id="p_phone" required)
						label(for="p_phone") Ваш телефон
					p Размер группы
					select.mb16
						option(value="personal") Индивидуально
						option(value="mini") Мини-группа
						option(value="default") Группа
					button.common(type="submit") Отправить

							
