header
	.wrapper
		a.logo(href="/")
			img.full(src="/img/logo.svg" width="146" height="27")
			img.hand.lazyload(data-src="/img/hand.svg" width="22" height="27")
		nav
			ul
				li.expand
					.head
						span Курсы
						img(src="/img/tr.svg" width="10" height="5")
					ul
						li.expand
							.head
								span Английский
								img(src="/img/tr.svg" width="10" height="5")
							ul
								li
									a(href="#") Общий курс английского для взрослых
								li
									a(href="#") Специальный курс английского для взрослых
						li.expand
							.head
								span Немецкий
								img(src="/img/tr.svg" width="10" height="5")
							ul
								li
									a(href="#") Общий курс немецкого для взрослых
								li
									a(href="#") Разговорный курс немецкого языка для взрослых
				li
					a(href="/about.html") О нас
				li
					a(href="#") Блог
				li
					a(href="#") Контакты
		.soc
			a.tel(href="tel:111") +7 950 000 00 00
			a.wa(href="#")
				img(src="/img/wa.svg" width="22" height="22")
			a.tg(href="#")
				img(src="/img/tg.svg" width="20" height="16")
		button.hamburger.hamburger--elastic.js-hamburger(type='button')
			span.hamburger-box
				span.hamburger-inner
