- var {opt} = htmlWebpackPlugin.options
head
    meta(charset='UTF-8')
    title= opt.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="preload" as="font" type="font/woff2" href="fonts/roboto-v20-latin_cyrillic-regular.woff2" crossorigin)
    link(rel="preload" as="font" type="font/woff2" href="fonts/roboto-v20-latin_cyrillic-700.woff2" crossorigin)
    link(rel="preload" as="font" type="font/woff2" href="fonts/roboto-v20-latin_cyrillic-500.woff2" crossorigin)
    script(src="/vendors/lazysizes.min.js")