article.mb16
	h1 Курсы и цены

	p Эффективность онлайн-обучения сегодня во многом зависит от способа подачи информации и качества учебных материалов, а также от профессиональных компетенций педагога. 

	p Cвои онлайн курсы я провожу по самым новым пособиям ведущих издательств в сфере обучения иностранным языкам: Cambridge, Oxford, Pearson, Longman, Huber, Schubert, Klett, Cornelsen, Langenscheidt.
	 
	p Для интерактивных уроков я использую онлайн-платформы Advibe, Miro и др., а также LMS-платформы (Learning Management System) ведущих издательств н.р. Blinklearning.

	p Покупая учебный курс + онлайн пособие ( c доступом к LMS или без), ученики получают не только живые уроки по видеосвязи, но и доступ к интерактивному учебно-методическом комплексу (учебник с интегрированной рабочей тетрадью, промежуточными тестами, видео и аудио ресурсами, мобильным приложением, дополнительными упражнениями онлайн и в формате Pdf).

	p Все это размещено на онлайн-платформе, где каждый ученик имеет свой личный кабинет, сохраняет учебные материалы, видит свой прогресс. Ученик в любое время имеет доступ к платформе и материалам курса.

	p Ученик и учитель синхронно работают на платформе, учитель видит, как ученик выполняет задания на уроке и дома. 

	p Интерактивные платформы работают в браузере на любом устройстве со стабильным интернетом.

.list
	h2 Онлайн курсы немецкого языка
	.item
		h3 Общий курс немецкого для взрослых
		.row
			.left
				img(src="/img/courses/users.svg" width="18" height="17")
				span Для кого
			.right
				p Для подростков от 16 лет и взрослых 
				p От уровня А1 до B2
		.row
			.left
				img(src="/img/courses/clock.svg" width="18" height="17")
				span Объем и длительность
			.right
				p 192 ак/часа (34 недели - учебный год)
		.row
			.left
				img(src="/img/courses/speed.svg" width="18" height="18")
				span Интенсивность
			.right
				p 2 занятия в неделю по 2 ак/часа и 2 ак/часа самостоятельной работы на онлайн-платформе (6 ак/час в неделю)
		.row
			.left
				img(src="/img/courses/format.svg" width="18" height="18")
				span Формат
			.right
				ul
					li индивидуально
					li мини группы (3 - 4 чел)
					li группы 5 - 7 чел		
		.row
			.left
				img(src="/img/courses/price.svg" width="18" height="18")
				span Стоимость
			.right
				ul.price
					li
						span индивидуально
						span по запросу
					li
						span мини группы (3 - 4 чел)
						span по запросу
					li
						span группы 5 - 7 чел
						span по запросу
		.actions
			button.common Записаться
			a.more(href="#") Подробнее