article.mb16
	h1 Общий курс немецкого для взрослых
	.list
		.row
			.left
				img(src="/img/courses/users.svg" width="18" height="18")
				span Для кого
			.right
				p Для подростков от 16 лет и взрослых
				p От уровня А1 до B2
		.row
			.left
				img(src="/img/courses/clock.svg" width="18" height="18")
				span Объем и длительность
			.right
				p 192 ак/часа (34 недели - учебный год)
		.row
			.left
				img(src="/img/courses/speed.svg" width="18" height="18")
				span Интенсивность
			.right
				p 2 занятия в неделю по 2 ак/часа и 2 ак/часа самостоятельной работы на онлайн-платформе (6 ак/час в неделю)
		.row
			.left
				img(src="/img/courses/format.svg" width="18" height="18")
				span Формат
			.right
				ul
					li индивидуально
					li мини группы (3 - 4 чел)
					li группы 5 - 7 чел
		.row
			.left
				img(src="/img/courses/price.svg" width="18" height="18")
				span Стоимость
			.right
				ul
					li
						span индивидуально
						span.pink по запросу
					li
						span мини группы (3 - 4 чел)
						span.pink по запросу
					li
						span группы 5 - 7 чел
						span.pink по запросу
		.row
			.left
				img(src="/img/courses/list_icon.svg" width="16" height="22")
				span Цели и задачи курса
			.right
				p Курс подходит для мотивированных взрослых и подростков от 16 лет и нацелен на получение быстрого и ощутимого результата в освоении немецкого языка.
				p На каждом уроке мы поступательно развиваем все языковые компетенции: говорение, аудирование, чтение и письмо.
		.row
			.left
				img(src="/img/courses/list_icon.svg" width="16" height="22")
				span Актуальность курса
			.right
				p Для каждого языкового уровня (по GERR) предусмотрен отдельный курс, основанный на современных коммуникативных пособиях зарубежных издательств. Курсы включают в себя лексико-грамматические структуры необходимые для повседневного, профессионального и академического общения. Материалы курса обновляются и максимально приближены к современной действительности.
				p Помимо материалов учебного пособия я использую все возможности современных медиа: онлайн тренажеры, мобильное приложение, веб-сервисы с играми и др.
		.row
			.left
				img(src="/img/courses/list_icon.svg" width="16" height="22")
				span Особенности курса
			.right
				p Курс
				ul
					li совмещает учебник, рабочую тетрадь, аудио/видео материалы
					li имеет четкую структуру и единый формат построения уроков
		.row
			.left
				img(src="/img/courses/list_icon.svg" width="16" height="22")
				span Результаты обучения
			.right
				p По окончании курса соответствующего уровня (А1-B2) студенты могут быть рекомендованы к сдаче международного экзамена Goethe-Zertifikat A1: Start Deutsch 1, Goethe-Zertifikat A2, Goethe-Zertifikat B1, Goethe-Zertifikat B2.
	.actions
		button.common Записаться на курс			


