article.mb16
	h1 Как приручить свою память?
	span.date 01.02.2002
	.dsc
		.exwrap
			img.lazyload.excerpt(data-src="/assets/img/blog/02.jpg" width="150" height="150")
		
		p Я часто слышу от учеников: забыл, не помню, память плохая. 
		p Память - основа познавательной деятельности, основа любого обучения.Почему же нам иногда сложно запоминать? Что с этим делать?  
		p Современная когнитивная наука полагает, что люди мыслят радиально, те «по кругу». Единицы памяти- нервные клетки тянут множество «ручек» в разные стороны и связываются ассоциативной связью с другими клетками, создавая сеть , вроде базы данных.  Так мы познаём и учимся, создавая ассоциации.
		p Если процесс запоминания проходит тяжело, это может говорить о недостатке  ассоциаций, разрозненности знаний.
		p Как это исправить, как помочь памяти функционировать лучше?
		p Значительная часть успеха в освоении иностранного языка основана на запоминании большого количества слов и грамматических структур. Поэтому так важно создать максимальное количество ассоциаций при введении, отработке и использовании новых слов и структур на уроках иностранного языка и дома.

		p Если подавать информацию многоканально, можно значительно ускорить и упрочить запоминание. 