- var {opt} = htmlWebpackPlugin.options

doctype html
html
		include ui/_head
		body(class= opt.bodyClass+"-page")
			include ui/_header
			.wrapper.blog
				include ui/_aside
				section
					include pages/blog/_bread
					include pages/blog/content

			include ui/_footer 