- var {opt} = htmlWebpackPlugin.options

doctype html
html
    include ui/_head
    body(class= opt.bodyClass+"-page")
      include ui/_header
      .wrapper.index
        include ui/_aside
        section
         include pages/index/content

        include ui/_footer 