article.mb16
	h1 Контакты
	.list
		.row
			.l
				img(src="/img/pointer.svg" width="17" height="23")
				span Адрес
			.r
				p г. Канаш, ул. Пушкина, 1, 155
		.row
			.l
				img(src="/img/phone.svg" width="17" height="17")
				span Телефон
			.r
				ul
					li
						a(href="#") +7 950 000 00 00
					li
						a(href="#") WhatsApp
					li
						a(href="#") Telegram
		.row
			.l
				img(src="/img/courses/speed.svg" width="18" height="18")
				span Время работы
			.r
				ul
					li Пн - Пт
					li с 9 до 17
#map
	iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6390.101994096588!2d47.49272379712698!3d55.51072890777225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415b9e2058f61165%3A0x6e339f4f0fdccd20!2z0JrQsNC90LDRiCwg0KfRg9Cy0LDRiNGB0LrQsNGPINCg0LXRgdC_Liwg0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2sby!4v1649147326469!5m2!1sru!2sby" width="100%" height="370" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")