ul.blog-posts
	li
		img.lazyload(data-src="/img/blog/index/01.jpg" width="223" height="172")
		a(href="#") Как приручить свою память?
	li
		img.lazyload(data-src="/img/blog/index/02.jpg" width="223" height="172")
		a(href="#") Kochrezepte im Passiv
	li
		img.lazyload(data-src="/img/blog/index/03.jpg" width="223" height="172")
		a(href="#") OSTERN
.courses.mt16
	.ge
		h2 Курсы <span>немецкого</span>
		ul
			li
				img.lazyload.thumb(data-src="/img/index/01.jpg")
				a(href="#") Общий курс немецкого языка А1 - С1
			li
				img.lazyload.thumb(data-src="/img/index/02.jpg")
				a(href="#") Общий курс немецкого языка А1 - С1
	.en
		h2 Курсы <span>английского</span>
		ul
			li
				img.lazyload.thumb(data-src="/img/index/03.jpg")
				a(href="#") Общий курс английского языка А1 - С1
			li
				img.lazyload.thumb(data-src="/img/index/04.jpg")
				a(href="#") Общий курс английского языка А1 - С1
.getting-started.mt16
	h2 С чего начать?
	p Любое обучение стоит начинать с постановки цели. Ответьте на несколько вопросов:
	ul
		li Для чего вы хотите учить язык?
		li Где вы сможете применить навыки?
		li Какого уровня вы хотите достичь?
		li В какие сроки?

	p Чтобы добраться до цели, необходимо знать начальную точку отсчета и конечный пункт пребывания. В контексте эффективного изучения языка, это значит знать свой настоящий уровень владения немецким языком и поставить измеримую цель, к которой Вы хотите прийти. В начале любого курса, необходимо определить  текущий уровень знаний при помощи теста и шкалы общеевропейских компетенции владения иностранным языком (CEFR - Common European Framework of Reference: Learning, Teaching, Assessment).	
	.bottom.lazyload
		.scales
			img.lazyload.scales(data-src="/img/index/scales_icon.svg" width="110" height="93")
			ul.level
				li
					a(href="#") Оцени свой английский
				li
					a(href="#") Оцени свой немецкий
		.swiper
			.swiper-wrapper
				.swiper-slide.index
					.dsc
						h3.pink Общеевропейские компетенции
						h3.grey владения иностранным языком
				.swiper-slide
					h3.pink A1 Уровень выживания (1-4 кл)
					h3.grey Elementare Sprachverwendung
					p.h 60 академических часов
					.dsc
						p Понимаю и могу употребить в речи знакомые фразы и выражения необходимые для выполнения конкретных задач. Могу представиться/представить других, задавать/отвечать на вопросы о месте жительства, знакомых, имуществе. Могу участвовать в несложном разговоре, если собеседник говорит медленно и отчетливо и готов оказать помощь. Могу написать простые открытки (например, поздравление с праздником), заполнять формуляры, вносить свою фамилию, национальность, адрес в регистрационный листок в гостинице

		.swiper-pagination
