.welcome.mt16
	h2 Добро пожаловать!
	p Добро пожаловать в студию иностранных языков <b>Give me five</b>!
	p Студия открывает свои двери для детей и взрослых, которые только начинают и продолжают свой путь в мир иностранных языков. 
	p Мы стремится добиться высокой эффективности в обучении, создавая позитивную эмоциональную среду, используя современные методики и технологии, добиваясь системного понимания основ языка и комфортного его использования. 
	p Мы работаем в Канаше (Чувашская Республика), а также онлайн по всей России.
.courses.mt16
	.ge
		h2 Курсы <span>немецкого</span>
		ul
			li
				img.lazyload.thumb(data-src="/assets/img/index/01.jpg")
				a(href="#") Общий курс немецкого языка А1 - С1
			li
				img.lazyload.thumb(data-src="/assets/img/index/02.jpg")
				a(href="#") Общий курс немецкого языка А1 - С1
	.en
		h2 Курсы <span>английского</span>
		ul
			li
				img.lazyload.thumb(data-src="/assets/img/index/03.jpg")
				a(href="#") Общий курс английского языка А1 - С1
			li
				img.lazyload.thumb(data-src="/assets/img/index/04.jpg")
				a(href="#") Общий курс английского языка А1 - С1	
.mobile-blog-posts.mb16
	h2 Блог
	ul
		li
			img.lazyload.thumb(data-src="/assets/img/blog/index/01.jpg")
			a(href="#") Как приручить свою память?
		li
			img.lazyload.thumb(data-src="/assets/img/blog/index/02.jpg")
			a(href="#") Kochrezepte im Passiv
		li
			img.lazyload.thumb(data-src="/assets/img/blog/index/03.jpg")
			a(href="#") OSTERN

