article.mb16
	h1 Блог
	ul
		li
			img.lazyload(data-src="/img/blog/01.jpg" width="150" height="150")
			.dsc
				a(href="#") Что такое ГЛОГ? Для чего он нужен?
				span.date 12.12.2021
				p.excerpt Глогом (GLOG) сегодня называют интерактивные плакаты. Они похожи на презентации на одной странице и дают...
		li
			img.lazyload(data-src="/img/blog/02.jpg" width="150" height="150")
			.dsc
				a(href="#") Как приручить свою память?
				span.date 13.12.2021
				p.excerpt Я часто слышу от учеников: забыл, не помню, память плохая. Память - основа познавательной деятельности, основа любог..
