article
	h1 О нас

	p Добро пожаловать в студию иностранных языков <b>Give me five</b>!

	p Своей главной целью мы считаем создание благоприятной образовательной среды для детей и взрослых в регионах России.

	p Мы стремимся всесторонне развивать своих учеников и добиваться максимальной вовлеченности в учебный процесс с помощью коммуникативной методики, цифровой поддержки обучения с элементами геймификации, командной творческой работы на иностранном языке.

	p Наши общие или специальные курсы помимо развития языковых компетенций готовят к сдаче экзаменов (ОГЭ/ЕГЭ/ международных экзаменов).

	p Мы хотим, чтобы Вам было комфортно с нами!

	p Использовать язык комфортно — это значит не бояться делать ошибки, преодолеть языковой барьер. 

	p Для нас иностранные языки — это больше чем хорошая успеваемость, больше, чем экзамены. Иностранные языки — это уверенность в себе, способность общаться с людьми во всем мире, это доступ к возможностям и опыту, которые меняют жизнь. 

h2 Преподаватели
article.mt1
	.prep
		img(src="/assets/img/about/owner2.jpg" width="200" height="227")
		.dsc
			p <b><span class="accent">Ксения Димитриева</span> - руководитель студии, преподаватель</b>

			p Имеет диплом лингвиста-преподавателя (Московский Государственный Лингвистический Университет), стажировалась в Университете имени Гумбольдта (Берлин), опыт проживания за рубежом, 10 лет опыта работы школьным учителем и преподавателем вуза. Поможет Вам получить качественное образование и добиться результата.	
.certs.fancy.mt16.mb16
	h2 Дипломы и сертификаты
	ul
		li
			a(href="/assets/img/certs/01b.jpg" data-fancybox="gallery")
				img.lazyload(data-src="/assets/img/certs/01m.jpg" width="134" height="171")
		li
			a(href="/assets/img/certs/02b.jpg" data-fancybox="gallery")
				img.lazyload(data-src="/assets/img/certs/02m.jpg" width="134" height="171")
		li
			a(href="/assets/img/certs/03b.jpg" data-fancybox="gallery")
				img.lazyload(data-src="/assets/img/certs/03m.jpg" width="134" height="171")
		li
			a(href="/assets/img/certs/04b.jpg" data-fancybox="gallery")
				img.lazyload(data-src="/assets/img/certs/04m.jpg" width="134" height="171")
		li
			a(href="/assets/img/certs/05b.jpg" data-fancybox="gallery")
				img.lazyload(data-src="/assets/img/certs/05m.jpg" width="134" height="171")
		li
			a(href="/assets/img/certs/06b.jpg" data-fancybox="gallery")
				img.lazyload(data-src="/assets/img/certs/06m.jpg" width="134" height="171")
		li
			a(href="/assets/img/certs/07b.jpg" data-fancybox="gallery")
				img.lazyload(data-src="/assets/img/certs/07m.jpg" width="134" height="171")
article.mt1
	.prep
		img(src="/assets/img/about/prep2.jpg" width="200" height="227")
		.dsc
			p <b><span class="accent">Раиса Леонидовна Васильева</span> - преподаватель</b>
			p Имеет диплом специалиста по туризму и гостиничному хозяйству («Институт туризма и сервиса»), также дипломы профессиональной переподготовки по специальностям «Перевод» («ЧГПУ им. Яковлева»), «Методика преподавания английского языка» («ЧРИО»), стажировалась в Греции и Турции, 7 лет опыта работы преподавателем в ГАПОУ «КанТЭТ», участница и лауреат профессиональных конкурсов.
			p Поможет раскрыть способности и чувствовать себя комфортно на занятии.

.certs.fancy.mt16.mb16
	h2 Дипломы и сертификаты
	ul
		li
			a(href="/assets/img/about/raisa/certs/01b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/01m.jpg" width="268" height="171")
		li
			a(href="/assets/img/about/raisa/certs/02b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/02m.jpg" width="268" height="171")
		li
			a(href="/assets/img/about/raisa/certs/03b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/03b.jpg" width="134" height="171")
		li
			a(href="/assets/img/about/raisa/certs/04b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/04b.jpg" width="134" height="171")
		li
			a(href="/assets/img/about/raisa/certs/05b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/05b.jpg" width="134" height="171")
		li
			a(href="/assets/img/about/raisa/certs/06b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/06b.jpg" width="134" height="171")
		li
			a(href="/assets/img/about/raisa/certs/07b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/07b.jpg" width="134" height="171")
		li
			a(href="/assets/img/about/raisa/certs/08b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/08b.jpg" width="134" height="171")
		li
			a(href="/assets/img/about/raisa/certs/09b.jpg" data-fancybox="gallery-r")
				img.lazyload(data-src="/assets/img/about/raisa/certs/09b.jpg" width="134" height="171")


.testimonials
	h2 Отзывы наших учеников
	.swiper
		.swiper-wrapper
			.swiper-slide
				p.name Маргарита
				p.date январь 2022
				p.text С Ксенией Юрьевной занимаюсь около 4 месяцев, начали с уровня А1, очень хороший специалист, все доходчиво объясняет, дает интересный материал, по которому хочется заниматься. Используем сразу несколько онлайн сервисов, в которых удобно делать домашку и хранить все изучаемые материалы (к ним можно вернуться в любой момент, если что подзабылось). В общем специалист на уровне👍🏻 Полученный за 4 мес. результат уже очень радует.
			.swiper-slide
				p.name Ирина 
				p.date ноябрь 2021
				p.text Мой сын (5 кл.) недавно начал занятия немецким языком с репетитором, но ему все очень нравится. Преподаватель может увлечь ребенка, интересные герои, разные задания. На уроках много играют и разговаривают.  Родителям дает фидбэк. Ксении Юрьевне !!!
		.swiper-pagination
.gallery.mt16
	h2 Фотогалерея
	.swiper
		.swiper-wrapper
			.swiper-slide
				img.lazyload(data-src="/assets/img/about/01.jpg")
			.swiper-slide
				img.lazyload(data-src="/assets/img/about/02.jpg")
		.swiper-pagination



